@media screen and (max-width: 1132px){
    .header_container_text{
        max-width: 300px;
    }
    .header_container_text h2{
        font-size: 300%;
    }
    .header_container_text h4 {
        font-size: 100%;
    }
    .section_one_center_right p{
        max-width: 310px;
    }
    .section_one_center_left p{
        max-width: 310px;
    }
    .section_one_center{
        gap: 50px;
    }
    .cards_img_right,
    .cards_text_right
{
max-width: 500px;
}
.cards_img,
.cards_text{
    justify-content: center;
}
}
@media screen and (max-width: 1069px){
    .img_cont{
        padding: 10px;
    }
}
@media screen and (max-width: 1040px){
    .contact_container{
        display: flex;
        flex-wrap: wrap;
        top: 100px;
        width: 540px;
        /* для выравнивания абсолютного элемента */
        left:50%;
        transform:translate(-50%, 0%);
    }
    .footer_top{
        height:840px;
    }
    .contact_container_left{
    width: 100%;
    }
    .contact_container_right{
        width: 100%;
        }
}
@media screen and (max-width: 925px){

    .section_one_center{
        flex-wrap: wrap;
    }
    .section_one_center_left{
        margin-left: auto;
        margin-right: auto;
    }
    .section_one_center_right{
        margin-left: auto;
        margin-right: auto;
    }
    .section_one_center_left p{
        max-width: 510px;
    }
    .section_one_center_right p{
        max-width: 510px;
    }
        .cards_img_right,
        .cards_text_right {
            max-width: 400px;
    }
    .img_container{
        flex-wrap: wrap;
    }
.img_one,
.img_two,
.img_three,
.img_four{
    width: 100%;
    height: 600px;
}
.img_one img {
    height: 100%;
}

.img_two img {
    height: 100%;
}

.img_three img {
    height: 100%;
}

.img_four img {
    height: 100%;
}
.black_container{
    flex-direction: column;
}
}
@media screen and (max-width: 869px){
    .last_container{
        width: 400px;
        flex-wrap: wrap;
        gap: 100px;
    }
}
@media screen and (max-width: 825px){
    .cards_img,
    .cards_text{
    flex-wrap: wrap;
    width: 100%;
    }
    .cards_img_left{
            width: 80%;
    }
    .cards_img_right,
    .cards_text_right{
        max-width: 540px;
    }
    .our{
        text-align: center;
        padding: 0  ;
    }
    .cards_text_left h2{
        font-size: 150%;
    }
    .cards_text_right a{
        margin-left: auto;
        margin-right: auto;
    }
    .contact_container{
        top: 100px;
        width: 350px;
    }
    .cards_text_left h2{
        font-size: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 705px){
    .first_card,.second_card{
        flex-direction: column;
    }
}
@media screen and (max-width: 640px){

}
@media screen and (max-width: 600px){
    .header_container_text{
        max-width: 400px;
        text-align: center;
       
    }
}
@media screen and (max-width: 502px){
    .section_one_center_left h4{
        font-size: 100%;
        text-align: center;
    }
    .section_one_center_left p{
        max-width: 370px;
        margin-left: 40px;
    }
    .section_one_center_right p{
        max-width: 370px;
    }

    
}

@media screen and (max-width: 471px){
    .last_container{
        width: 200px;
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 401px){
    .header_container_text{
        max-width:340px;
    }
    .creative h2{
        width: 250px;
    }
    }



